@page "/edit/{IdExamen:int}"
@using Microsoft.EntityFrameworkCore
@using BansiModelos
@inject NavigationManager NavigationManager
@using BansiLibreriaAccesoDatos
@rendermode InteractiveServer
<PageTitle>Edit</PageTitle>

<h1>Editar examen</h1>
<hr />
@if (Examen is null)
{
    <p><em>Cargando datos...</em></p>
}
else
{
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    @errorMessage
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <label class="form-label mb-0">Tipo de servicio:</label>
            <select class="form-select w-auto" @onchange="OnAccessTypeChanged">
                <option value="@TipoAccesoDatos.WebService" selected="@(selectedTipo == TipoAccesoDatos.WebService)">WebService</option>
                <option value="@TipoAccesoDatos.StoredProcedures" selected="@(selectedTipo == TipoAccesoDatos.StoredProcedures)">StoredProcedures</option>
            </select>
            <EditForm method="post" Model="Examen" OnValidSubmit="UpdateExamen" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <input type="hidden" name="Examen.IdExamen" value="@Examen.IdExamen" />
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <InputText id="nombre" @bind-Value="Examen.Nombre" class="form-control" />
                    <ValidationMessage For="() => Examen.Nombre" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripcion:</label>
                    <InputText id="descripcion" @bind-Value="Examen.Descripcion" class="form-control" />
                    <ValidationMessage For="() => Examen.Descripcion" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/">Regresar</a>
</div>

@code {
    [Parameter]
    public int IdExamen { get; set; }
    [SupplyParameterFromForm]
    private Examen? Examen { get; set; }
    private string errorMessage = string.Empty;
    private TipoAccesoDatos selectedTipo { get; set; } = TipoAccesoDatos.WebService;
    protected override async Task OnInitializedAsync()
    {
        await CargarExamen(IdExamen);
    }
    private async Task CargarExamen(int id)
    {
        try
        {
            ClsExamen clsExamen = new(selectedTipo);
            Examen = await clsExamen.ConsultarExamenAsync(IdExamen);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al conectar con api: {ex.Message}");
            Examen = new();
        }

        StateHasChanged();
    }
    private async Task UpdateExamen()
    {
        ClsExamen clsExamen = new(selectedTipo);
        var respuesta = await clsExamen.ActualizarExamenAsync(Examen!);
        errorMessage = respuesta.Descripcion!;
        if (respuesta.Exito)
            NavigationManager.NavigateTo("/");
    }

    private async Task OnAccessTypeChanged(ChangeEventArgs e)
    {
        if (e?.Value is not null)
        {
            if (Enum.TryParse<TipoAccesoDatos>(e.Value.ToString(), out var parsed))
            {
                selectedTipo = parsed;
            }
        }
    }
}
